doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    title Trackr
    link(href='../dist/renderer/css/app.css', rel='stylesheet', type='text/css')
    script(src="../dist/renderer/js/index.js")
  body
    a#start(href="#") Start
    br
    a#stop(href="#") Stop and save
